<!DOCTYPE html>
<html>
	<head>
    	<title>ツイート取得テスト</title>
    </head>
    <body>
    	<table border="1" frame="box">
    	<% @tweets.each do |tw| %>
        	<tr>
            	<td><%= tw[:name] %></td>
                <td><%= tw[:screen_name] %></td>
                <td><%= tw[:text] %></td>
                <td><%= tw[:created_at] %></td>
                <td><%= tw[:lat] %></td>
                <td><%= tw[:lng] %></td>
            </tr>
        <% end %>
        </table>
    </body>
</html>